:root {
  --color_black: #000000;
  --color_red: #e92130;
  --color_orange: #e96921;
  --color_white: #ffffff;
  --color_white2: #e8e8e8;
  --color_gray1: #ecedf1;
  --color_gray2: #f5f5f5;
  --color_gray3: #b7b7b7;
  --color_gray4: #999999;
  --color_gray5: #98989c;
  --color_gray6: #616161;
  --color_gray7: #222223;
}
