@import "reset.css";
@import "colors.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto";
  font-style: normal;
}
html {
  font-size: 6.25%; /* 6.25% of the base size of : 1rem = 1px */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 200px;

  padding: 0 2rem;
}

header figure {
  cursor: pointer;
}

.movie-detail {
  /* background-color: green; */

  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;

  margin: 0 auto;

  /* 나중에 삭제하세요! */
  margin-bottom: 200px;
  background-color: green;
}

.movie-detail img {
  background-color: red;

  flex-shrink: 1;

  display: flex;
  width: 100%;
  max-width: 160rem;
  height: 100%;
  /* flex-shrink라는 옵션을 검색해보세여 */
  /* 기본값이 auto 입니다 */
}

.movie-detail figure {
  background-color: blue;

  width: 70%;

  padding: 20rem;
  font-size: 16rem;

  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 1rem; */
}

.detail-movie-main {
  display: flex;
}
/* 프로젝트 내에서 모두 함께 사용하는 색상은 변수로 지정후 사용하는게 일반적입니다. */

.detail-movie-status {
  display: flex;
  align-items: center;
  background-color: var(--color-red);
  border-radius: 30rem;
  color: var(--white);
  font-size: 12rem;
  padding: 3rem 5rem;
}

.detail-movie-box {
}

.detail-movie-title {
  font-size: 24rem;
  margin-right: 8rem;
}
.detail-movie-overview {
  font-size: 16rem;
}
/* .detail-movie-poster {
  width: auto;
  height: auto;

  margin-right: 5rem;

  border-radius: 1rem;
}



.detail-movie-title {
  margin-top: 7rem;
  margin-left: 7rem;

  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
}

.detail-movie-adult {
  margin-top: 7rem;
  margin-left: 5rem;
  padding-top: 1.5rem;

  font-size: 2rem;
}

.detail-movie-status {
  margin-top: 7rem;
  margin-left: 2rem;
  padding-top: 1.5rem;

  font-size: 2rem;
}

.detail-movie-overview {
  margin: 5rem 7rem;

  width: 90rem;
  font-size: 2rem;
  line-height: 2.2rem;
}

.detail-movie-info {
  display: flex;

  margin: 5rem 7rem;

  font-size: calc(0.2rem + 1vw);
  text-align: left;
  opacity: 0.5;
  line-height: 4rem;
}

.detail-movie-left {
  margin-right: 10rem;
}

"printWidth": 100, */
