/*
 * File       : ui.css
 * Author     : 내일배움캠프 6기 1조
 *
 * Dependency : css/reset.css
 *
 * SUMMARY:
 * 01) Global 
 * 02) 후기 [김선익]
 */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100px;

  padding: 0 2rem;
}

.movie-visual {
  position: relative;
  width: 100%;
  height: 670px;
  background-color: #181819;
  overflow: hidden;
}

.movie-slide {
  position: absolute;
  width: 1100px;
  left: 50%;
  transform: translateX(-50%);
  margin: -256px auto 0;
  overflow: hidden;
}

.movie-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  z-index: 1;
  /* transform: translateX(-100%); */
}
/* 슬라이더 트랜스폼 */
/* @TODO 슬라이더 */
/* @TODO 메인페이지 */

/* 지정되지않음 */
.movie-poster {
  position: relative;
  height: 100%;
  border-radius: 8px;
  /* width: 200px; */
  /* object-fit: cover; */
  /* border-radius: 0.5rem; */
}
.movie-item {
  position: relative;
  width: 200px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.item-poster {
  width: 200px;
  display: block;
}
.poster-movie {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.poster-movie img {
  display: block;
  border-radius: 8px;
  color: #fff;
  text-align: center;
}
.movie-rating::before,
.movie-rating {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.movie-rating::before {
  height: 90px;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgba(130, 120, 23, 0) 0, #0d0c17 100%);
  content: "";
  border-radius: 8px;
}

.movie-rating {
  z-index: 0;
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
}
.poster-info {
  display: none;
}
.movie-desc {
  display: none;
}
.movie-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin: 10px 10px;
  /* font-size: 1.2rem; */
  font-weight: 700;
}

.search-form {
  position: relative;
  display: block;
  width: 650px;
  height: 55px;
  margin: 100px auto;
}
.search-box {
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #000;
  font-size: 2rem;
}

.search-form button {
  position: absolute;
  right: -60px;
  bottom: 0;
  width: 55px;
  height: 55px;

  background-color: transparent;
  background-image: url(../assets/icon_search.png);
  background-position: center;
  background-size: cover;
}
.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin: 20px 0;
}
.now-movie {
  position: relative;
  display: flex;
  flex-direction: column;
}
#sortOpt {
  position: absolute;
  top: 25px;
  right: 10px;
  border: 1px solid --color_gray1;
  border-radius: 30px;
  padding: 6px 10px;
  /* appearance: none; */
}
#sortOpt option {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  appearance: none;
}

.now-movie-list {
  margin: 20px 0;
}
/* **************************************** *
* 1) Global 
* **************************************** */
.global-inner {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

/* **************************************** *
* 02) 후기 [김선익]
* **************************************** */

.guest-section {
  margin-top: 230px;
}
.guest-section .tit-wrap {
  display: inline-block;
}
.guest-section .guest-tit {
  display: inline-block;
  margin-bottom: 18px;
  font-size: 24px;
}
.guest-section .badge-num {
  display: inline-block;
  left: -12px;
  top: -18px;
  font-size: 24px;
  font-weight: 700;
  color: #e96921;
}

.guest-section input[type="text"] {
  width: 100%;
  padding: 20px 25px;
  border-style: none;
  border: 1px solid #e8e8e8;
}

.guest-section textarea {
  width: 100%;
  height: 160px !important;
  padding: 20px 200px 20px 25px;
  border-style: none;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
}

.guest-section button {
  border-style: none;
  cursor: pointer;
}
.guest-section button:hover {
  cursor: pointer;
}
.guest-section .guest-comment-list {
  margin-bottom: 34px;
}
.guest-section .card {
  width: 100%;
  padding: 34px 25px;
  border-bottom: 1px solid #e8e8e8;
}
.guest-section .card:first-child {
  border-top: 1px solid #000;
}
.guest-section .card-body {
  display: flex;
  width: 100%;
}
.guest-section .user-tit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
}
.guest-section .user-comment-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 16px;
}
.guest-section .user-comment {
  font-size: 18px;
  color: #616161;
}
.guest-section .date {
  margin-left: 4px;
  font-weight: 500;
  color: #616161;
}
.guest-section .user-profile {
  display: inline-block;
  width: 64px;
}
.guest-section .card-btn {
  margin-left: 10px;
  margin-top: -3px;
}
.guest-section .card-btn button {
  padding: 6px 10px;
}
.guest-section .btn_delete_comment {
  background-color: #9b9b9b;
  color: #fff;
  border-radius: 3px;
  line-height: 1;
}
.guest-section .btn_update_comment {
  line-height: 1;
  border-radius: 3px;
}

.guest-section .btn__global {
  padding: 12px 33px;
  background-color: #000;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  display: inline-block;
}
.guest-section .btn__global:hover {
  opacity: 0.7;
  color: #fff;
  transition: 0.3s ease-out;
}

.guest-section .btn__global-kr {
  position: relative;
  float: right;
  z-index: 99;
  top: -76px;
  right: 24px;
  padding: 12px 33px;
  background-color: #000;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.guest-section .btn__global-kr:hover {
  opacity: 0.7;
  color: #fff;
  transition: 0.3s ease-out;
}
